[submodule "cgnaplusparams/SO3"]
	path = cgnaplusparams/SO3
	url = https://github.com/eskoruppa/SO3
[submodule "cgnaplusparams/pyConDec"]
	path = cgnaplusparams/pyConDec
	url = https://github.com/eskoruppa/pyConDec
